/*body
{
  background-image: url(blue0.jpg);
  background-size: default;
  background-repeat: repete;
}
*/

#ContactInfo
{
  background: #FFFFFF;
  min-height: 80px;
  color: #FFFFFF;
  padding: 5px 5px 5px 140px;
}

body
{
    background-color: rgb(210,50,98);
    min-height: 100px;
}

section
{
	  min-height: 50px;
    height: 10vh;
}

p
{
  text-align: justify;
  margin-left: 60px;
  margin-right: 10px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-left: 10px;
  padding-bottom: 10px;
}
