/*body
{
  background-image: url(blue0.jpg);
  background-size: default;
  background-repeat: repete;
}
*/

body
{
    background-color: rgb(210,50,98);
    min-height: 2000px;
}
section
{
	min-height: 450px;
    height: 100vh;
}
p
{
  text-align: justify;
  margin-left: 60px;
  margin-right: 10px;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-left: 10px;
  padding-bottom: 10px;
}
